.exploreCard {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 200px;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

.exploreCard h3 {
    position: absolute;
    bottom: 0;
    background-color: var(--primary-colour);
    padding: var(--small-spacing);
    color: white;
    border-radius: 0 0 3px 3px;
    width: 100%;
    height: 100%;
    max-height: 45px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.exploreCard:hover h3 {
    height: 100%;
    border-radius: 3px;
    max-height: 200px;
}

