.desc {
    text-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    gap: var(--spacing);
    border: 1px solid var(--primary-colour);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: var(--spacing);
}

.form * {
    display: flex;
    flex-direction: column;
    width: 100%;
    font: var(--font);   
}

.message {

    min-height: 6rem;
    min-width: 100%;
    max-width: 100%;
}