.navbar {

    display: flex;
    justify-content: flex-end;
    background-color: var(--primary-colour);
    position: relative;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.navbar * {
    text-decoration: none;
    color: white;
    padding: var(--spacing);
    transition: 0.2s;
}

.navbar a:hover {
    background: var(--secondary-colour);
    padding-top: 12px;
}