.imageContainer {
  display: flex;
  justify-content: center;
  padding-bottom: var(--small-spacing);
  width: 100%;
  margin: auto;
}

.pageSection .imageContainer {

    width: 100%;
}

.selectionBar {
    display: flex;
    width: 100%;
    gap: var(--spacing);
    padding-bottom: var(--spacing);
}

.selectionBar button {
    border: none;
    background-color: var(--primary-colour);
    width: 100%;
}

.pageSection {
    display: grid;
    gap: 36px;
    padding: var(--spacing) 0;
}

.leftHeavy {
    grid-template-columns: 3fr 2fr;
}

.rightHeavy {
    grid-template-columns: 2fr 3fr;
}

.selectionBar button:hover {
    cursor: pointer;
}

@media (min-width: 540px) {

    .imageContainer {
        width: 80%;
    }
}

@media (min-width: 720px) {

    .imageContainer {
        width: 50%;
    }
}