.imageContainer {
  display: flex;
  justify-content: center;
  padding-bottom: var(--small-spacing);
  width: 100%;
  margin: auto;
}

@media (min-width: 540px) {

    .imageContainer {
        width: 80%;
    }
}

@media (min-width: 720px) {

    .imageContainer {
        width: 50%;
    }
}