.uml {
  
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100px
}

.uml div {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}

@media (min-width: 540px) {

    .uml div {
        width: 80%;
    }
}

@media (min-width: 720px) {
    .uml div {
        width: 50%;
    }
}