.projectCard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    margin: 20px 0;
}

.thumbnailContainer {
    position: relative;
}

.thumbnail {
    border-radius: 4px 4px 0 0;
    object-fit: cover;
}