.projectCard {
    display: grid;
    width: 100%;
    margin: 20px 0;
    gap: var(--spacing);
    min-height: 220px;
    text-decoration: none;
}

.projectCard p {
    margin-top: var(--small-spacing);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.thumbnailContainer {
    position: relative;
    width: 100%;
    height: 200px;
}

.thumbnail {
    border-radius: var(--rounded-edge);
    object-fit: cover;
}

@media (min-width: 720px) {

    .projectCard {
        grid-template-columns: 1fr 2fr;
        direction: rtl;
    }

    .intro {
        direction: ltr;
    }
}