.projectCard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    margin: 20px 0;
    gap: var(--spacing);
    min-height: 220px;
    text-decoration: none;
    transition: 0.5s, opacity 0.5s ease;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro a {
    align-self: flex-start;
}

.thumbnailContainer {
    position: relative;
}

.thumbnail {
    border-radius: 4px 4px 0 0;
    object-fit: cover;
}