.page {
  --background: #fafafa;
  --foreground: #fff;

  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  min-height: 100vh;
  width: 100%;
  max-width: 1024px;
  background-color: var(--foreground);
  padding: 48px 24px;
}

.intro {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: var(--spacing);
}

.pfpContainer {
  position: relative;
  width: 60%;
  max-width: 280px;
  aspect-ratio: 1;
  display: flex;
}

.pfp {
  border-radius: 50%;
  box-shadow: var(--underneath-box-shadow);
}

.intro h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1.4px;
  color: var(--text-primary);
}

.intro p {
  font-size: 18px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.contactButton {
    background-color: var(--primary-colour);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    transition: 0.2s;
    margin-top: var(--spacing);
    display: inline-block;
    border-radius: 5px;
}

.contactButton:hover {
    background: var(--secondary-colour);
    box-shadow: none;
}

@media (min-width: 721px) {
  
  .intro {
    grid-template-columns: 2fr 3fr;
    text-align: left;
    line-height: 32px;
    gap: 0;
  }
  
  .pfpContainer {
    min-width: 234px;
    align-self: center;
  }

  .contactButton {
    padding: 5px 10px;
  }
}