.intro {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: var(--spacing);
  margin-bottom: 50px
}

.pfpContainer {
  position: relative;
  width: 60%;
  max-width: 234px;
  aspect-ratio: 1;
  display: flex;
}

.pfp {
  border-radius: 50%;
  box-shadow: var(--underneath-box-shadow);
}

.exploreCards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing);
}

@media (min-width: 540px) {

  .intro {

    margin-bottom: 100px;
  }
}

@media (min-width: 720px) {
  
  .intro {
    grid-template-columns: 2fr 3fr;
    text-align: left;
    line-height: 32px;
    gap: 0;
    margin: 100px 0;
  }

  .intro a {
    padding: 5px var(--small-spacing);
  }
  
  .pfpContainer {
    min-width: 234px;
    align-self: center;
  }

  .exploreCards {
    grid-template-columns: 1fr 1fr;
  }
}