.takeMeThereButton {
    --primary-colour: rgb(71, 105, 124);
    --secondary-colour: rgb(61, 91, 109);
    text-align: center;
}

@media (min-width: 721px) {

  .contactButton {
    padding: 5px var(--small-spacing);
  }
}