.button {
    background-color: var(--primary-colour);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top: var(--spacing);
    display: inline-block;
    border-radius: var(--rounded-edge);
}

.button:hover {
    background: var(--secondary-colour);
    box-shadow: none;
}

@media (min-width: 721px) {

  .button {
    padding: 5px 10px;
    transition: 0.2s;
  }
}