.navContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: var(--primary-colour);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 6px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: 14px;
}

.navbar * {
    text-decoration: none;
    color: white;
    padding: var(--spacing) var(--small-spacing);
    transition: 0.2s;
}

.navbar a:hover {
    background: var(--secondary-colour);
    padding-top: 12px;
}

@media (min-width: 480) {

    .navContainer {
        padding: 0;
    }

    .navbar {
        font-size: var(--small-font);
    }
    .navbar * {
        padding: var(--spacing);
    }
}

@media (min-width: 540px) {

    .intro {
        margin-bottom: 100px;
    }
}

@media (min-width: 720px) {

    .navContainer {
        justify-content: right;
    }
  
}